
add-file-headers.ps1
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.deps.json
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.dll
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.exe
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.pdb
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.runtimeconfig.json
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.staticwebassets.endpoints.json
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/ApplicationA.staticwebassets.runtime.json
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/appsettings.Development.json
ApplicationA-REST/src/ApplicationA/bin/Debug/net9.0/appsettings.json
ApplicationA-REST/src/ApplicationA/obj/ApplicationA.csproj.nuget.dgspec.json
ApplicationA-REST/src/ApplicationA/obj/ApplicationA.csproj.nuget.g.props
ApplicationA-REST/src/ApplicationA/obj/ApplicationA.csproj.nuget.g.targets
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/apphost.exe
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.AssemblyInfo.cs
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.AssemblyInfoInputs.cache
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.assets.cache
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.csproj.CoreCompileInputs.cache
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.csproj.FileListAbsolute.txt
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.dll
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.GeneratedMSBuildEditorConfig.editorconfig
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.genruntimeconfig.cache
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.GlobalUsings.g.cs
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.MvcApplicationPartsAssemblyInfo.cache
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.pdb
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ApplicationA.sourcelink.json
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/compressed/o6f75uza5p-ug4dfc1cg0.gz
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/ref/ApplicationA.dll
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/refint/ApplicationA.dll
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets.build.endpoints.json
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets.build.json
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets.development.json
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets.pack.json
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets/msbuild.ApplicationA.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets/msbuild.ApplicationA.Microsoft.AspNetCore.StaticWebAssets.props
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets/msbuild.build.ApplicationA.props
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.ApplicationA.props
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.ApplicationA.props
ApplicationA-REST/src/ApplicationA/obj/project.assets.json
ApplicationA-REST/src/ApplicationA/obj/project.nuget.cache
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.deps.json
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.dll
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.exe
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.pdb
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.runtimeconfig.json
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.staticwebassets.endpoints.json
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/ApplicationB.staticwebassets.runtime.json
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/appsettings.Development.json
ApplicationB-Web/src/ApplicationB/bin/Debug/net9.0/appsettings.json
ApplicationB-Web/src/ApplicationB/obj/ApplicationB.csproj.nuget.dgspec.json
ApplicationB-Web/src/ApplicationB/obj/ApplicationB.csproj.nuget.g.props
ApplicationB-Web/src/ApplicationB/obj/ApplicationB.csproj.nuget.g.targets
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/apphost.exe
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.AssemblyInfo.cs
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.AssemblyInfoInputs.cache
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.assets.cache
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.csproj.CoreCompileInputs.cache
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.csproj.FileListAbsolute.txt
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.dll
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.GeneratedMSBuildEditorConfig.editorconfig
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.genruntimeconfig.cache
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.GlobalUsings.g.cs
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.MvcApplicationPartsAssemblyInfo.cache
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.pdb
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ApplicationB.sourcelink.json
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/compressed/hqsdq1xgvk-jbei4o212t.gz
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/ref/ApplicationB.dll
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/refint/ApplicationB.dll
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets.build.endpoints.json
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets.build.json
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets.development.json
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets.pack.json
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets/msbuild.ApplicationB.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets/msbuild.ApplicationB.Microsoft.AspNetCore.StaticWebAssets.props
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets/msbuild.build.ApplicationB.props
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.ApplicationB.props
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.ApplicationB.props
ApplicationB-Web/src/ApplicationB/obj/project.assets.json
ApplicationB-Web/src/ApplicationB/obj/project.nuget.cache
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/compressed/hqsdq1xgvk-k5bbfz7iad.gz
ApplicationA-REST/src/ApplicationA/obj/Debug/net9.0/compressed/o6f75uza5p-ljmy9m080t.gz
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/compressed/hqsdq1xgvk-uslcv31lof.gz
ApplicationB-Web/src/ApplicationB/obj/Debug/net9.0/compressed/u8bwaa08wn-fqjb8soloy.gz
